*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --body-color: #111827;
  --bg-color: #1f2937;
  --text-white: #fff;
  --btn-color: #10b981;
  --secondary-color: #d5d4d8;
  --primary-color: #55f991;
  --hr-color: #2f3e53;
  --output-color: #273549;

  /* FONT SIZE */
  --fs-300: 2.5rem;
  --fs-200: 1.75rem;
  --fs-100: 1rem;

  /* TRANSITION */
  --transition: all 0.5s ease-in-out;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
  min-height: 100vh;
  font-family: "Poppins";
}

span {
  color: var(--primary-color);
}

h1 {
  line-height: 1.2;
  margin-block-end: 0.5rem;
  font-size: var(--fs-300);
}

.wrapper {
  background: var(--bg-color);
  padding: 4rem;
  color: var(--text-white);
  margin: 0 3rem;
}

.text {
  border-bottom: 1px solid var(--hr-color);
}

.text p {
  color: var(--secondary-color);
  margin-block-end: 1.5rem;
}

.text button {
  padding: 0.5rem 1rem;
  font-size: var(--fs-100);
  background: var(--btn-color);
  border: none;
  color: var(--text-white);
  font-size: var(--fs-100);
  border-radius: 5px;
  transition: var(--transition);
  margin-bottom: 4rem;
  cursor: pointer;
}

.options {
  margin-block-end: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.progress label {
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: bold;
  background-color: var(--primary-color);
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.include-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.include-btn > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.include-btn label {
  font-size: 0.9rem;
}

.outputs {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  margin-inline: auto;
}

.outputs p {
  background: var(--output-color);
  width: 211px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
}

.copy-message {
  margin-top: 1rem;
  transition: var(--transition);
}

@media screen and (max-width: 520px) {
  :root {
    /* FONT SIZE */
    --fs-300: 1.3rem;
    --fs-200: 1.2rem;
  }

  .wrapper {
    padding: 4rem;
  }

  .include-btn {
    gap: 0.3rem;
  }
}
