/*! GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*! CUSTOM FONTS */
:root {
  /* COLOR */
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --text-color: #fff;
  --about-color: #f1faee;

  /* TEXT SIZE */
  --h1-fs: 2rem;
  --h2-fs: 1.5rem;
  --p-fs: 1.17rem;
  --text-fs: 1rem;
}

/*! RESET TO DEFAULTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url(./images/torshov.jpg);
  block-size: 21.44rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  background: var(--primary-color);
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  margin-block-end: 0.5rem;
}

.hero p {
  font-size: var(--p-fs);
  max-inline-size: 23rem;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
