*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --bg-color: #1b244a;
  --score-color: #f94f6d;
  --text-color: #eee;
  --button-color: #9aabd8;
  --dark-color: #080001;

  /* FONT SIZE */
  --fs-300: 5.625rem;
  --fs-200: 2.5rem;
  --fs-100: 1.125rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
  font-family: sans-serif;
}

.container {
  background: var(--bg-color);
  padding: 5rem;
  columns: 2;
  gap: 5rem;
  color: var(--text-color);
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card h2 {
  font-size: var(--fs-200);
}

.box {
  background-color: var(--dark-color);
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  color: var(--score-color);
  font-size: var(--fs-300);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button,
.new-game-btn {
  background: transparent;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  cursor: pointer;
  border-radius: 2px;
}

.buttons button {
  font-size: var(--fs-100);
  padding: 0.5rem;
}

.new-game-btn {
  position: absolute;
  left: 43%;
  bottom: 7%;
  padding: 0.3rem 1rem;
}

.green {
  background: green;
  color: var(--text-color);
}
